@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Epilogue";
    src: url('/fonts/Epilogue-VariableFont_wght.ttf') format('truetype')
  }

  @font-face {
    font-family: "Epilogue";
    font-style: italic;
    src: url('/fonts/Epilogue-Italic-VariableFont_wght.ttf') format('truetype')
  } 
}